<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DuSwiftDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E1C3F032CCBB8220009D82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1C3F192CCBB8240009D82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1C3F232CCBB8240009D82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
